* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.product {
  border: solid gray;
  border-width: 1px 1px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.social {
  display: flex;
  list-style-type: none;
  align-self: flex-end;
}

.logo {
  position: relative;
  top: 10px;
  display: flex;
  justify-content: center;
}

.menu{
    display: flex;
    list-style-type: none;
    align-self: flex-end;
}

li{
  display: flex;
  flex-grow: 1;
  margin-left: 5px;
  margin-right: 5px;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (min-width: 1025px) {
  body {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.logo > img {
  width: 50px;
}

